---
import Container from "@/components/Container";
import { cn } from "@/lib/utils";

interface Props {
  title: string;
  boxes: {
    title: string;
    description: string;
  }[];
}

const { title, boxes } = Astro.props;

const classNames = [
  "laptop:pr-10 laptop:border-r-[1px] border-y-[1px]",
  "laptop:pl-10 desktop:pr-10 desktop:border-r-[1px] border-y-[1px]",
  "laptop:pr-10 desktop:pl-10 laptop:border-r-[1px] desktop:border-r-0 desktop:pr-0 border-y-[1px]",
  "laptop:pl-10 desktop:pr-10 desktop:pl-0 desktop:border-r-[1px] border-b-[1px]",
  "laptop:pr-10 desktop:px-10 laptop:border-r-[1px] border-b-[1px]",
  "laptop:pl-10 border-b-[1px]",
];

const zippedArray = boxes.map((item, index) => ({
  ...item,
  className: classNames[index] ?? null,
}));
---

<section class="min-h-[46.75rem]">
  <Container
    className="flex flex-col items-center gap-8 tablet:gap-[3.5625rem]"
  >
    <h1 class="text-center">{title}</h1>
    <div
      class="grid grid-cols-1 laptop:grid-cols-2 desktop:grid-cols-3 max-w-[73.125rem]"
    >
      {
        zippedArray.map(({ title, description, className }) => (
          <div
            class={cn(
              "max-w-[26.0625rem] min-h-[13rem] desktop:min-h-[15.3125rem] flex flex-col gap-2.5 border-[#E5D0F1]",
              className,
            )}
          >
            <p class="text-primary text-[1.25rem] font-semibold uppercase pt-10">
              {title}
            </p>
            <p class="text-primary text-base text-justify leading-[1.875rem]">
              {description}
            </p>
          </div>
        ))
      }
    </div>
  </Container>
</section>
