---
import Container from "@/components/Container";
---

<section
  style={{
    backgroundImage: `url(/images/about-us/about-us-1.webp)`,
  }}
  class="flex items-center mx-auto h-[12rem] tablet:h-[15rem] laptop:h-[23.25rem] bg-cover bg-center bg-no-repeat z-10"
>
  <Container className="">
    <h1
      class="w-fit text-white translate-x-[2rem] laptop:translate-x-[4rem] translate-y-[3rem]"
    >
      About Us
    </h1>
  </Container>
</section>
