---
import Container from "@/components/Container";
---

<section class="">
  <Container
    className="flex flex-col items-center gap-[1rem] tablet:gap-[6rem] desktop:gap-[8.0625rem] max-w-[50rem] laptop:max-w-[90rem]"
  >
    <h1 class="w-full laptop:pl-12">
      Caring, Nurturing, &<br /> Empowering
    </h1>

    <div
      id="our-vision"
      class="flex items-center flex-col tablet:flex-row gap-[2rem] desktop:gap-[5.8125rem]"
    >
      <img
        src="/images/about-us/about-us-4.webp"
        alt="Thagai's Vision - Healthcare professionals providing compassionate care"
        class="w-[14rem] laptop:w-[20rem] desktop:w-[25.9375rem]"
      />

      <div class="max-w-[45.375rem]">
        <h1>Our Vision</h1>
        <p
          class="text-normal laptop:text-[1.3rem] desktop:text-[1.75rem] font-semibold text-justify text-primary leading-7 laptop:leading-9"
        >
          Thagai envisions a world where quality care is a right, not a luxury.
          We strive to be a trusted, compassionate provider, ensuring tailored,
          high-quality care for all. Through innovation, inclusivity, and
          genuine connections, we aim to uplift lives and set new standards in
          care services.
        </p>
      </div>
    </div>

    <div
      id="our-mission"
      class="flex items-center flex-col-reverse tablet:flex-row gap-[2rem] desktop:gap-[5.8125rem]"
    >
      <div class="max-w-[45.375rem]">
        <h1>Our Mission</h1>
        <p
          class="text-normal laptop:text-[1.3rem] desktop:text-[1.75rem] font-semibold text-justify text-primary leading-7 laptop:leading-9"
        >
          At Thagai, we are redefining care with accessible, affordable, and
          compassionate support. Committed to understanding unique needs, we
          create a nurturing environment that fosters well-being, dignity, and
          belonging. Through innovation and empathy, we strive to be a trusted
          companion on every journey to a healthier, happier life.
        </p>
      </div>
      <img
        src="/images/about-us/about-us-5.webp"
        alt="Thagai's Mission - Dedicated team delivering accessible and affordable healthcare"
        class="w-[14rem] laptop:w-[20rem] desktop:w-[25.9375rem]"
      />
    </div>
  </Container>
</section>
