---
import Container from "@/components/Container";

---

<section
  class="flex items-center bg-custom-yellow mx-auto h-[9rem] tablet:h-[10.5rem] laptop:h-[12rem] bg-cover bg-center bg-no-repeat z-10"
>
  <Container className="px-6 laptop:px-16">
    <h1
      class="w-fit text-5xl laptop:text-6xl font-semibold text-primary tracking-tight"
    >
      Contact Us
    </h1>
  </Container>
</section>
