---

---

<section class="py-0">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3886.026641731907!2d80.1927678750786!3d13.097498087229607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTPCsDA1JzUxLjAiTiA4MMKwMTEnNDMuMiJF!5e0!3m2!1sen!2sin!4v1759081254691!5m2!1sen!2sin"
    class="w-full h-[20rem] tablet:h-[34rem]"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
