---
import Container from "@/components/Container";
---

<section class="">
  <Container
    className="flex flex-col items-center laptop:flex-row laptop:justify-between laptop:items-start"
  >
    <h2
      class="max-w-[44rem] text-primary font-bold text-[2rem] laptop:text-[3rem] desktop:text-[3.7rem]"
    >
      Want to enhance your care experience? Contact Thagai today!
    </h2>
    <p
      class="text-[1.5625rem] text-[#9675A9] font-medium max-w-[38.6875rem] leading-[200%] mt-4"
    >
      Our team is here to support you and answer any questions. We look forward
      to hearing from you!
    </p>
  </Container>
</section>
