---
import Container from "@/components/Container";
---

<section aria-labelledby="care-made-simple">
  <Container className="flex flex-col  gap-10 tablet:gap-12">
    <h1 id="care-made-simple" class="text-center">Care Made Simple</h1>

    <div
      class="grid grid-cols-1 tablet:grid-cols-2 desktop:grid-cols-4 gap-6 tablet:gap-0"
    >
      <div
        class="rounded-xl p-6 flex flex-col items-center text-center gap-4 h-full"
      >
        <img
          src="/images/care-made-simple/phone.webp"
          alt="Give us a call"
          class="w-40 h-40 bg-white rounded-full"
        />
        <div class="space-y-2">
          <h3
            class="text-primary font-semibold text-[1.5rem] tablet:text-[1.75rem]"
          >
            Give Us a Call
          </h3>
          <p
            class="text-muted-foreground leading-relaxed text-[1rem] tablet:text-[1.0625rem]"
          >
            Elder care made simple. Call or fill the form—any service, anytime.
          </p>
        </div>
      </div>

      <div
        class="rounded-xl p-6 flex flex-col items-center text-center gap-4 h-full"
      >
        <img
          src="/images/care-made-simple/checklist.webp"
          alt="Personalized plan"
          class="w-40 h-40 rounded-full"
        />
        <div class="space-y-2">
          <h3
            class="text-primary font-semibold text-[1.5rem] tablet:text-[1.75rem]"
          >
            Personalized Plan
          </h3>
          <p
            class="text-muted-foreground leading-relaxed text-[1rem] tablet:text-[1.0625rem]"
          >
            We understand your needs and craft a custom care plan—putting the
            right help in the right place.
          </p>
        </div>
      </div>

      <div
        class="rounded-xl p-6 flex flex-col items-center text-center gap-4 h-full"
      >
        <div class="w-40 p-4 h-40 bg-white rounded-full">
          <img
            src="/images/care-made-simple/door.webp"
            alt="Service at your doorstep"
            class="w-full h-full object-contain"
          />
        </div>
        <div class="space-y-2">
          <h3
            class="text-primary font-semibold text-[1.5rem] tablet:text-[1.75rem]"
          >
            Service at Your Doorstep
          </h3>
          <p
            class="text-muted-foreground leading-relaxed text-[1rem] tablet:text-[1.0625rem]"
          >
            Sit back and relax while our trusted providers deliver care right to
            your home.
          </p>
        </div>
      </div>

      <div
        class="rounded-xl p-6 flex flex-col items-center text-center gap-4 h-full"
      >
        <div class="w-40 h-40 bg-white rounded-full p-6">
          <img
            src="/images/care-made-simple/loop.webp"
            alt="We’re always here"
            class="w-full h-full object-contain"
          />
        </div>
        <div class="space-y-2">
          <h3
            class="text-primary font-semibold text-[1.5rem] tablet:text-[1.75rem]"
          >
            We’re Always Here
          </h3>
          <p
            class="text-muted-foreground leading-relaxed text-[1rem] tablet:text-[1.0625rem]"
          >
            Loved it? Need it again? Just reach out—we’re here whenever you need
            us.
          </p>
        </div>
      </div>
    </div>
  </Container>
</section>
